:root {
    box-sizing: border-box;

    /* Font custom properties */
    --fs-heading: clamp(1.25rem, 0.8rem + 4vw, 2.125rem);
    --fs-paragraph: clamp(0.8rem, 0.8rem + 1vw, 1rem);

    /* Bg colors, custom properties */
    --bg-green-500: hsl(158, 36%, 37%);
    --bg-green-700: hsl(158, 42%, 18%);

    --bg-black: hsl(212, 21%, 14%);
    --bg-grey: hsl(228, 12%, 48%);
    --bg-cream: hsl(30, 38%, 92%);
    --bg-white: hsl(0, 0%, 100%);

    /* Other custom properties */
    --border-radius-main-size: .5em;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg-cream);

    margin: 0;
    min-height: 100dvh;

    /* Flex layout */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Font rules */
    color: var(--bg-grey);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.perfume-card {
    /* border: black solid .2em; */
    background-color: var(--bg-white);

    width: 90%;
    max-width: 37.5em;
    margin: 0 auto;
    border-radius: var(--border-radius-main-size);
}
@media (min-width: 35.5em) {
    .perfume-card {
        display: flex;
    }
}

.perfume-card__picture {
    border-radius: inherit;
}
@media (min-width: 35.5em) {
    .perfume-card__picture {
        width: 50%;
    }
}

.perfume-card__img {
    max-width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius-main-size);
    border-top-right-radius: var(--border-radius-main-size);
}
@media (min-width: 35.5em) {   
    .perfume-card__img {
        border-top-right-radius: initial;
        border-bottom-left-radius: var(--border-radius-main-size);
    }
}

.perfume-card__text-content {
    font-size: var(--fs-paragraph);
    padding: 2em;
}
@media (min-width: 35.5em) {
    .perfume-card__text-content {
        width: 50%;
    }
}

.perfume-card__category {
    margin-top: 0;
    text-transform: uppercase;
}

.perfume-card__title {
    font-size: var(--fs-heading);
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: var(--bg-black);
}

.perfume-card__paragraph--price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.perfume-card__price--offer {
    text-decoration: none;  
    color: var(--bg-green-500);
    font-size: var(--fs-heading);
    font-family: "Fraunces", serif;
    font-weight: 700;

    margin-right: .5em;
}

.perfume-card__link {
    text-decoration: none;
    color: var(--bg-white);
}

.perfume-card__link--btn {
    display: block;
    text-align: center;

    padding: 1em 0;
    background-color: var(--bg-green-500);
    border-radius: var(--border-radius-main-size);
}

.perfume-card__link--btn:hover,
.perfume-card__link--btn:focus-visible { 
    /* Addition of a focus state to improve accessibility */
    background-color: var(--bg-green-700);
}

.perfume-card__link--btn:focus {
    /* Fallback in case ‘focus-visible’ is not supported */
    background-color: var(--bg-green-700);
}

.small-padding-custom {
    padding-left: .3em;
}

.attribution {
    font-size: .6875rem; 
    width: 90%;
    margin: .6em auto 0 auto;
    text-align: center;
}

.attribution__link {
    color: var(--bg-green-500);
}